*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    background-color: #c57f2f;
    font: normal 15pt Arial;
}
header{
    color: wheat;
    text-align: center;
    margin: auto;
    padding: 5%;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    margin: auto;
    width: 500px;
    height: auto;
}
section h2{
    padding: 3%;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}